#Listas por compresion

In [ ]:
n=int(input("Hasta que número quieres imprimir los pares e impares: "))
pares=[número for número in range(0,n+1) if número%2==0]
print(pares)
impares=[número for número in range(0,n+1) if número%2!=0]
print(impares)

Hasta que número quieres imprimir los pares e impares: 20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
num=int(input("Hasta que número quieres imprimir los pares e impares: "))
def hola(n):
  pares=[número for número in range(0,n+1) if número%2==0]
  print(pares)
  impares=[número for número in range(0,n+1) if número%2!=0]
  print(impares)
hola(num)

Hasta que número quieres imprimir los pares e impares: 20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
num=int(input("Hasta que número quieres imprimir los pares e impares: "))
mi_lista=[n for n in range(0,num+1)]
impares=list(filter(lambda num:num%2==0,mi_lista))
print(pares)
pares=list(filter(lambda num:num%2!=0,mi_lista))
print(impares)

Hasta que número quieres imprimir los pares e impares: 20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers=[1,2,3,4]
results=[]
for n in numbers:
  results.append(n+1)
results

[2, 3, 4, 5]

In [ ]:
numbers=[1,2,3,4]
results=[n+1 for n in numbers if n<5]
results

[2, 3, 4, 5]

In [ ]:
results2=lambda numbers:results
print(results2(numbers))

[2, 3, 4, 5]

In [ ]:
def perfecto(número):
  perf=0
  for i in range(1,número):
    if número%i==0:
      perf+=i
  if perf==número:
    print("es número perfecto")
    return True
  else:
    print("no es número perfecto")
número=6
perfecto(número)

es número perfecto

True

In [ ]:
def números():
  a=int(input("Ingresa un número: "))
  b=int(input("Ingresa un número: "))
  c=int(input("Ingresa un número: "))
  d=int(input("Ingresa un número: "))
  perfect=[a,b,c,d]

  perfect1=[elemento for elemento in perfect if perfecto(elemento)==True]
números()

Ingresa un número: 1
Ingresa un número: 2
Ingresa un número: 3
Ingresa un número: 6
no es número perfecto
no es número perfecto
no es número perfecto
es número perfecto

In [ ]:
lista=[2,3,6,4]
perfect2=list(map(lambda elemento:perfecto(elemento)==True,lista))
perfect2

no es número perfecto
no es número perfecto
es número perfecto
no es número perfecto

[False, False, True, False]

In [ ]:
import random
número1=[random.randint(0,2000) for x in range(100)]
número2=[random.randint(0,2000) for x in range(100)]
comun=[]
for a in número1:
  for b in número2:
    if a==b:
      comun.append(a)
print(comun)

[1148, 1176, 727]

In [ ]:
import random
número1=[random.randint(0,2000) for x in range(100)]
número2=[random.randint(0,2000) for x in range(100)]
comun=[x for x in número1 for y in número2 if x==y]
print(comun)

[348, 1522, 1611, 1086, 432]

In [ ]:
import random
número1=[random.randint(0,2000) for x in range(100)]
número2=[random.randint(0,2000) for x in range(100)]
comun=[]
comun=list(filter(lambda num:num in número1,número2))
print(comun)

[302, 1288, 673]

In [ ]:
def square1(num):
  return num**2
print(square1(5))

25

In [ ]:
L=[1,2,3,4]
L2=[n**2 for n in L]
print(L2)

[1, 4, 9, 16]

In [ ]:
lambda_func=lambda x:x**2
lambda_func(3)

9

In [ ]:
nom1=['Samuelle','Angie','Valentina','Alejandro','Jonsito']
nom2=['Samuelle','Andrea','Samdra','Anderson','Jonsito']
def common(nom1,nom2):
  return nom1,nom2
nom1,nom2

(['Samuelle', 'Angie', 'Valentina', 'Alejandro', 'Jonsito'],
 ['Samuelle', 'Andrea', 'Samdra', 'Anderson', 'Jonsito'])

In [ ]:
nom1=['Samuelle','Angie','Valentina','Alejandro','Jonsito']
nom2=['Samuelle','Andrea','Samdra','Anderson','Jonsito']
common={a for a in nom1 for b in nom2 if a==b}
common

{'Jonsito', 'Samuelle'}

In [ ]:
nom1=['Samuelle','Angie','Valentina','Alejandro','Jonsito']
nom2=['Samuelle','Andrea','Samdra','Anderson','Jonsito']
common1=lambda nom1,nom2:common
print(common1(nom1,nom2))

{'Samuelle', 'Jonsito'}

In [ ]:
def listaIMC(usuarios):
  sis=[]
  imc=[]
  b=0
  a2=0
  for n in range(usuarios):
    w=input("¿Cuál es tu nombre?")
    b=int(input("Ingresa el peso: "))
    a2=int(input("Ingresa la altura: "))
    sis.append((w,b/a2**2))
    imc.append(b/a2**2)
  return sis,imc
user=int(input("¿Cuántos usuarios hay?: "))
sis,imc=listaIMC(user)
imc

¿Cuántos usuarios hay?: 1
¿Cuál es tu nombre?Jesus
Ingresa el peso: 54
Ingresa la altura: 170

[0.0018685121107266437]

In [ ]:
sis=listaIMC(user)
sis2=[n for n in imc if n>=18.5]
print(sis2)

¿Cuál es tu nombre?Jesus
Ingresa el peso: 54
Ingresa la altura: 170
[]

In [ ]:
sis

([('Jesus', 0.0018685121107266437)], [0.0018685121107266437])

In [ ]:
sis3=list(map(lambda x:"peso insuficiente" if x<18.5 else "peso normal" if (x>=18.5 and x<24.9) else "sobrepeso" if (x>=24.9 and x<30) else "obesidad",imc))
sis3

['peso insuficiente']

In [6]:
print("Ingresa su código: ")
caracter=input()
if len(caracter)==8:
  if caracter[0]=='U':
    print("Eres estudiante de la Unab")
  elif(caracter.startswith("a000")):
    print("Eres estudiante de los Andes")
  else:
    if(int(caracter)>=1950):
      print("Eres estudiante de la UIS")
else:
  print("No corresponde a ninguna universidad, revisa tu código")

Ingresa su código:
U0015741
Eres estudiante de la Unab

In [7]:
universidades=["unab","uis","andes"]
codigo=["U0015741","198076","a0005437"]
u=[cod for cod in codigo if (cod[0]=='U' and len(cod)==8)]
print(u)

['U0015741']

In [8]:
y=list(map(lambda x:"unab" if (x[0]=='U' or x[0]=='u') else None,codigo))
print(y)

['unab', None, None]

In [11]:
def funcion(lista, numDigitos, universidad,clasCodigo):
  clasi=[a for a in lista if a.startswith(clasCodigo) and len(a)==numDigitos]
  print(f'Hay {len(clasi)} estudiante(s) de {universidad} y sus codigo(s) son {clasi}')

lista=[]
x=0
while x==0:
  entrada=input("Ingresa un codigo: ")
  lista.append(entrada)
  a=int(input("¿Deseas ingresar otro? Ingresa 0 si lo deseas,sino ingresa 1: "))
  if (a==1):
    x=x+1

funcion(lista,9,'la Unab','U00')
funcion(lista,9,'los Andes','A000')

Ingresa un codigo: U00157412
¿Deseas ingresar otro? Ingresa 0 si lo deseas,sino ingresa 1: 1
Hay 1 estudiante(s) de la Unab y sus codigo(s) son ['U00157412']
Hay 0 estudiante(s) de los Andes y sus codigo(s) son []

In [10]:
lista=[]
x=0
while x==0:
  entrada=input("Ingresa un codigo: ")
  lista.append(entrada)
  a=int(input("¿Deseas ingresar otro? Ingresa 0 si lo deseas,sino ingresa 1: "))
  if (a==1):
    x=x+1

clasificacion=[a for a in lista if a.startswith("U00") and len(a)==9]
print(f'Hay {len(clasificacion)} estudiante(s) de la Unab y sus codigo(s) son {clasificacion}')
clasificacion=[a for a in lista if a.startswith("A000") and len(a)==9]
print(f'Hay {len(clasificacion)} estudiante(s) de los Andes y sus codigo(s) son {clasificacion}')

Ingresa un codigo: U00157412
¿Deseas ingresar otro? Ingresa 0 si lo deseas,sino ingresa 1: 1
Hay 1 estudiante(s) de la Unab y sus codigo(s) son ['U00157412']
Hay 0 estudiante(s) de los Andes y sus codigo(s) son []

In [12]:
lista=[]
x=0
while x==0:
  entrada=input("Ingresa un codigo: ")
  lista.append(entrada)
  a=int(input("¿Deseas ingresar otro? Ingresa 0 si lo deseas,sino ingresa 1: "))
  if (a==1):
    x=x+1
lista1=["U0015741","198076","a0005437"]
clasif=list(map(lambda a:"UNAB" if a.startswith("U00") or a.startswith("u00") else 'Los Andes' if a.startswith("A000") or a.startswith("A000") else None, lista))
clasif

Ingresa un codigo: U00157412
¿Deseas ingresar otro? Ingresa 0 si lo deseas,sino ingresa 1: 1

['UNAB']

In [13]:
num=[1,2,3,4,5,6,7,8,9,10]
exp=int(input("Escribe un exponente: "))
x=len(num)
for n in range(1,(x)):
  num[n]=num[n]**exp
print(num)
def imprimir(num):
  s=1
  for i in num:
    print(f"\nEl resultado del elemento {s} de la lista es {i}")
    s+=1
imprimir(num)

Escribe un exponente: 5
[1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049, 100000]

El resultado del elemento 1 de la lista es 1

El resultado del elemento 2 de la lista es 32

El resultado del elemento 3 de la lista es 243

El resultado del elemento 4 de la lista es 1024

El resultado del elemento 5 de la lista es 3125

El resultado del elemento 6 de la lista es 7776

El resultado del elemento 7 de la lista es 16807

El resultado del elemento 8 de la lista es 32768

El resultado del elemento 9 de la lista es 59049

El resultado del elemento 10 de la lista es 100000

In [14]:
num=[1,2,3,4,5,6,7,8,9,10]
exp=int(input("Escribe un exponente: "))
números=[n**exp for n in num]
números
imprimir(números)

Escribe un exponente: 5

El resultado del elemento 1 de la lista es 1

El resultado del elemento 2 de la lista es 32

El resultado del elemento 3 de la lista es 243

El resultado del elemento 4 de la lista es 1024

El resultado del elemento 5 de la lista es 3125

El resultado del elemento 6 de la lista es 7776

El resultado del elemento 7 de la lista es 16807

El resultado del elemento 8 de la lista es 32768

El resultado del elemento 9 de la lista es 59049

El resultado del elemento 10 de la lista es 100000

In [16]:
num=list(range(1,11))
exp=int(input("Escribe un exponente: "))
números=lambda num,exp:(n**exp for n in num)
número1=números(num,exp)
imprimir(list(número1))

Escribe un exponente: 5

El resultado del elemento 1 de la lista es 1

El resultado del elemento 2 de la lista es 32

El resultado del elemento 3 de la lista es 243

El resultado del elemento 4 de la lista es 1024

El resultado del elemento 5 de la lista es 3125

El resultado del elemento 6 de la lista es 7776

El resultado del elemento 7 de la lista es 16807

El resultado del elemento 8 de la lista es 32768

El resultado del elemento 9 de la lista es 59049

El resultado del elemento 10 de la lista es 100000